<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APIFingerprint</key>
	<string>549bb12d3f0f213feedd85da8afbedb7</string>
	<key>APIOrganizationID</key>
	<string>1764231</string>
	<key>APIUserID</key>
	<string>10691380</string>
	<key>InstallMenubar</key>
        <true/>
</dict>
</plist>
